/* input {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
 */

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    font-family: 'Helvetica', 'sans-serif';
    background-color: #F5F5F5;
    padding: 10px 0;
    color: #444444;
    
}
td {
    font-family: 'Helvetica', 'sans-serif';
    padding: 10px 0;
    color: #333333;
}