
form {
  width: 50%;
}

input {
  padding: .67857143em 1em;
  background: #FFF;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  width: 30%;
  display:  block;
  margin-left: 50px;
}

select {
 width: 30%;
 display:  block;
 margin: 20px 0 0 50px; 
}

.radio-controls label {
    display: inline-block;
    width: 90px;
    height: 20px;
    text-align: center;
    vertical-align: top;
    padding-top: 40px;
    margin-left:  50px;
}
.radio-controls input {
    display: block;
    margin: 0 auto -40px;
}

#save {
  margin: 30px 0 50px 50px;
}


table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 50px;
}
th {
    font-family: 'Helvetica', 'sans-serif';
    background-color: #F5F5F5;
    padding: 10px 0;
    color: #444444;
    
}
td {
    font-family: 'Helvetica', 'sans-serif';
    padding: 10px 0;
    color: #333333;
}